<h1 mat-dialog-title>Add songs to your playlist</h1>
<form [formGroup]="tracklistForm">
	<div mat-dialog-content formArrayName="songs" fxLayout="column">
		<div *ngFor="let track of songForms.controls; let i = index;"
			fxLayout="row" fxLayoutGap="5px" [formGroupName]="i">
			<mat-form-field fxFlex>
				<input matInput placeholder="Song's name:"
					formControlName="name" required />
				<mat-error *ngIf="!track.valid">
					This field is a <strong>must</strong>.
				</mat-error>
			</mat-form-field>
			<mat-form-field fxFlex>
				<input matInput placeholder="Song's URL:"
					formControlName="url" required />
				<mat-error *ngIf="!track.valid">
					The URL you've entered is not for a valid mp3 file.
				</mat-error>
			</mat-form-field>
			<button mat-button (click)="deleteSong(i);">
				<i class="material-icons">delete_forever</i>
			</button>
		</div>
		<br />
		<button mat-button (click)="addSong();">+</button>
	</div>
	<div mat-dialog-actions fxLayoutAlign="center end">
		<button mat-raised-button (click)="close();">Cancel</button>
		<span class="spacer"></span>
		<button mat-raised-button [mat-dialog-close]="songForms.value"
			cdkFocusInitial [disabled]="!songForms.valid">
			SAVE & FINISH
		</button>
	</div>
</form>
