<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
	<mat-option *ngFor="let playlist of filteredPlaylists | async;"
		(click)="emitPlaylist(playlist);" [value]="playlist">
		<img class="option-img" aria-hidden [src]="playlist.image" height="25">
		{{playlist.name}}
	</mat-option>
</mat-autocomplete>

<nav fxHide.xs="true" fxHide.gt-xs="false">
	<mat-toolbar>
		<button mat-button (click)="openNewPlaylistDialog();">
			Add new playlist
		</button>
		<span class="spacer"></span>
		<mat-form-field>
			<input matInput type="text" placeholder="Search:"
				[formControl]="searchControl" [matAutocomplete]="auto" />
		</mat-form-field>
	</mat-toolbar>
</nav>

<nav fxHide.xs="false" fxHide.gt-xs="true">
	<mat-toolbar>
		<button mat-button [matMenuTriggerFor]="menu">
			&#9776;
		</button>
		<mat-menu #menu="matMenu">
			<ng-template matMenuContent>
				<button mat-button (click)="openNewPlaylistDialog();" fxFill>
					Add new playlist
				</button>
				<mat-form-field class="compact-item">
					<input matInput type="text" placeholder="Search:"
						[formControl]="searchControl" [matAutocomplete]="auto"
						(click)="stopPropagation($event);" />
				</mat-form-field>
			</ng-template>
		</mat-menu>
	</mat-toolbar>
</nav>
