.button-container { display: none; }

.pl-title {
	color: white;
	font-size: 22px;
}
.playlist-container {
	opacity: 0.85;
	border-radius: 50%;
	height: 200px;
	width: 200px;
}

.playlist-container:hover { opacity: 1; }
.playlist-container:hover > .pl-title { background-color: black; }
.playlist-container:hover > .button-container { display: inline; }
