<div class="playlist-container" fxLayout="column"
	[style.backgroundImage]="'url('+playlist.image+')'">
	<div class="button-container">
		<button mat-fab (click)="play();">
			<i class="material-icons">arrow_upward</i>
		</button>
		<button mat-fab color="primary" (click)="editPlaylist();">
			<i class="material-icons">edit</i>
		</button>
		<button mat-fab color="warn" (click)="deletePlaylist();">
			<i class="material-icons">backspace</i>
		</button>
	</div>
	<h2 class="pl-title">{{playlist.name | uppercase}}</h2>
</div>
