<h1 mat-dialog-title>Edit the playlist</h1>
<form [formGroup]="playlistInfoForm">
	<div mat-dialog-content fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutGap="5px">
		<div fxLayout="column" fxFlex.xs="100%" fxFlex.gt-xs>
			<mat-form-field>
				<input matInput placeholder="Playlist's name:"
					formControlName="name" required />
				<mat-error *ngIf="!playlistInfoForm.valid">
					This field is a <strong>must</strong>.
				</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Playlist's image URL:"
					formControlName="image" #imgURL required />
					<mat-error *ngIf="!playlistInfoForm.valid">
						This field is a <strong>must</strong>.
					</mat-error>
			</mat-form-field>
		</div>
		<img *ngIf="imgURL.value" [src]="imgURL.value" alt="Playlist Thumbnail"
			fxFlexAlign.xs="center" fxFlex="30%" />
	</div>
	<div mat-dialog-actions>
		<button mat-raised-button (click)="close();">Cancel</button>
		<span class="spacer"></span>
		<button mat-raised-button [mat-dialog-close]="playlistInfoForm.value"
			cdkFocusInitial [disabled]="!playlistInfoForm.valid">
			Next
		</button>
	</div>
</form>
