.playlist-picture {
	border-radius: 50%;
	height: 200px;
	width: 200px;
}

.player-main { border: solid 5px transparent }

.tracklist {
	overflow-x: hidden;
	overflow-y: auto;
}

.is-playing { display: none; }
.song-item:hover .is-playing { display: inline; }
mat-progress-bar { width: 200px; }