<div class="player-main" *ngIf="playlist && audioPlayer"
	fxLayout="row wrap" (keyup)="onKeyPress($event);">
	<img [src]="playlist.image" class="playlist-picture" alt="Playlist Image"
		[@playerState]="playerState">
	<div fxLayout="column">
		<div class="audio-controls" fxLayout="row">
			<button mat-raised-button (click)="audioPlayer.togglePlay();">
				<i class="material-icons">play_arrow</i>
				<i class="material-icons">pause</i>
			</button>
			<button mat-raised-button (click)="playerState='paused';audioPlayer.stop();">
				<i class="material-icons">stop</i>
			</button>
		</div>
		<ol class="tracklist">
			<li *ngFor="let song of playlist.songs; index as i;" class="song-item">
				<button mat-button (click)="audioPlayer.play(i);">
					<i class="material-icons" *ngIf="audioPlayer.isPlaying(i)">play_arrow</i>
					{{song.name}}
				</button>
			</li>
		</ol>
	</div>
	<div class="edit" fxLayout="column" fxLayoutAlign="center center">
		<button mat-fab color="primary" (click)="editPlaylist();">
			<i class="material-icons">edit</i>
		</button>
		<button mat-fab (click)="closeNowPlaying();">
			<i class="material-icons">arrow_downward</i>
		</button>
	</div>
</div>
